<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989396849303-u2r7jp103m254khkdh3lslpftgvp2maq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989396849303-u2r7jp103m254khkdh3lslpftgvp2maq</string>
	<key>API_KEY</key>
	<string>AIzaSyAfX1EtPs12ASGLqIAzxG6-a3l1OqwaDLY</string>
	<key>GCM_SENDER_ID</key>
	<string>989396849303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aution.test.app</string>
	<key>PROJECT_ID</key>
	<string>eweb-1b27e</string>
	<key>STORAGE_BUCKET</key>
	<string>eweb-1b27e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989396849303:ios:9f587769eef231df</string>
	<key>DATABASE_URL</key>
	<string>https://eweb-1b27e.firebaseio.com</string>
</dict>
</plist>